:root{
    --trader_color:#FF558F;
    --fast_color: #0237CC;
    --standard_color: #2FB999;
}
*{
    font-family: 'Anonymous Pro', monospace;
}
/*site header*/
#site_header{
    display:grid;
    grid-template-columns:1fr 4fr 1fr;
    padding:0.5rem 0;

}
#settings_panel{
    padding:0;
    display:grid;
    grid-template-columns:1fr;
}
.setting_icon{
    width:4rem;
    padding:0.5rem;
    text-align:center;
    cursor:pointer;
}
.bright_when_hover:hover{
    filter:brightness(200%);
}
.danger_when_hover:hover{
    cursor:not-allowed;
}
.social_icon{
    padding:0.5rem;
}
#site_title h1{
    text-align:center;
    font-size:10rem;
}
#site_timer{
    text-align:center;
    padding-left:2rem;
    padding-right:2rem;
}
#current_price_area{
    padding: 1rem;
}
#social_links{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.tsw_button{
    padding:0.5rem;
}
#current_price_cards{
    padding:1rem;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1rem;
}
.card-body{
    text-align:center;
    display:grid;
    grid-template-columns:1fr 3fr;
}
.card-title{
    border-left:1px var(--secondary) solid;
}
#traderprice{
    color:var(--trader_color);
}
#fastprice{
    color:var(--fast_color);
}
#standardprice{
    color:var(--standard_color);
}
#footer_area{
    margin-top:2rem;    
    text-align:center;
    align-items:center;
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    gap:1rem;
}
.map_link{
    padding:0.5rem;
}
#bet_buttons{
    display:grid;
    grid-template-columns:1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    gap:2rem;
}
#bet_buttons_mobile{
    display:none;
}
#results_area{ 
    height:100%;
    text-align:center;
    margin-top:2rem;
    margin-bottom:2rem;
    display:grid;
    grid-template-columns:2fr 1fr 2fr;
    gap:1rem;
}
#results_right{
    height:100%;
    padding:0;
    background:var(--secondary);
}
#results_left{
    height:100%;
    padding:1rem;
    text-align:left;
    border:1px var(--primary) solid;
    border-radius:5px;
    height:100%;
    align-items:center;
}
.bet_input{
    text-align:center;
}
.card-body{
    background:var(--light);
}
#results_center{
    height:100%;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
    align-items:center;
    gap:0.5rem;
}
.full_height{
    height:100%;
    width:100%;
}
#choose_stats{
    padding:0;
    display:inline-grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:0;
    width:100%;
}
.stat_tab{
    color:var(--light);
    border:none;
    padding:0.5rem;
}
#game_stats{
    padding:1rem;
}
.pulse_light {
animation: pulse-animation_light 2s infinite;
}
@keyframes pulse-animation_light {
0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
}
100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
}
}
.pulse_dark {
    animation: pulse-animation_dark 2s infinite;
}
@keyframes pulse-animation_dark {
0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
}
100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
}
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
min-width: 160px;
z-index: 1;
background:var(--light);
}
.dropdown-content a {
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown:hover .dropdown-content {display: block;}
.inverted{filter:invert(100%);}

/* Popup box BEGIN */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    margin: auto;
    /*width: 500px;
    height: 500px;*/
    align-items:center;
    justify-content:center;
  }

/* Media Queries: Tablet*/
@media screen and (max-width: 1200px) {
    body{
        margin:0;
        padding:0;
    }
    #bet_buttons{
        grid-template-columns:0px 2fr 2fr 2fr 2fr 2fr 0px;
        gap:0.5rem;
    }
    #site_title h1{
        font-size:6rem;
    }
    #results_area{ 
        height:100%;
        margin-top:1rem;
        margin-bottom:1rem;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:2fr 1fr 2fr;
        gap:0.5rem;
    }
    .map_link{
        padding:0.2rem;
    }
}

/* Media Queries: Mobile*/
@media only screen and (max-width: 768px) {
    body{
        margin:0;
        padding:0;
    }
    .hide_on_mobile{
        display:none
    }
    /*site header*/
    #site_header{
        display:grid;
        grid-template-columns:1fr;
    }
    #settings_panel{
        padding:0;
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        text-align:center;
    }
    .setting_icon, .dropdown{
        width:4rem;
        padding:0.5rem;
        text-align:center;
        cursor:pointer;
    }
    #site_title h1{
        font-size:6rem;
    }

    #current_price_cards{
        padding:0.5rem;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr;
        gap:0.5rem;
    }
    #bet_buttons{
        display:none;
    }
    #bet_buttons_mobile{
        display:grid;
    }
    #mobile_bet_buttons{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:0.5rem;
    }

    #results_area{ 
        height:100%;
        margin-top:2rem;
        margin-bottom:0;
        display:grid;
        grid-template-columns:1fr;
        gap:0.5rem;
    }
    #site_map{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr;
    }
    .map_link{
        padding:0.2rem;
    }
}